.main-div{
     
     display: flex;
     flex-direction: column;
     align-content: space-between;
     background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c16cf196-e89e-4c46-8cc7-f2eca6fb0762/8a1bf43e-747e-44e3-a3b6-77a055300254/IN-en-20220103-popsignuptwoweeks-perspective_alpha_website_large.jpg");
     border-bottom: 10px solid gray;
}
.first{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
}
.title{
     margin-top: 20px;
     size: 50px;
     color:red;
     opacity: 1.4;
}
.language{
     height: 40px;
     margin-top: 20px;
     margin-right:20px
}
.signout{
     height:40px;
     margin-top:20px ;
     margin-right: 20px;
}
.initial-content{
     margin-top:150px;
     margin-bottom: 50px;
     text-align: center;
    color: white;
    opacity: 1.5;
}
.initial-content h1{
     font-size: 60px;
     margin:0%
}
.initial-content button{
     background-color: red;
     color: white;
}
.finishsignup{
    background-color: red;
    height: 70px;
    width: 240px;
    font-size: 30px;
    
   
}
.seconddiv{
     display: flex;
     flex-direction: row;
     padding:120px;   
     color: white;
     background-color: black;
     border-bottom: 10px solid gray;
}
.contentnew{
     margin-right: 100px;
     font-size:30px;
}


.tvimage{
     position:absolute;
     width:500px;
     height: 400px;
     padding-bottom: 0px;
     
     
     
}
.firstvideo{
     position:absolute;
     width: 750px;
     height: 200px;
     
     z-index: 1;
     top: 835px;
     left:700px;
}
.thirddiv{
     display: flex;
     flex-direction: row;
     padding: 120px;
     color:white;
     background-color: black;
     border-bottom: 10px solid gray;
}
.contentnew2{
     padding-bottom: 0;
     padding-left: 100px;
     margin-left:100px;
     font-size: 30px;
}
.tvimage2{
     width: 400px;
     height: 400px;
}

.fourthddiv{
     display: flex;
     flex-direction: column;
     align-items: center;
     
     color: white;
     background-color: black;
     margin-top: 0;
     border-bottom: 10px solid gray;
     
}
.last-title{
     padding-top: 100px;
     font-size: 50px;
     text-align: center;

}
.buttoncontent{
     margin-top: 50px;    
}
.b1{ 
     background-color: rgb(68, 64, 64);
     height: 80px;
     width: 800px;
     margin-bottom: 20px;
     color: white;
     text-align: left;
     font-size: 35px;
     
}
.finishsignup2{
     display:flex;
     align-items: center;
     background-color: red;
     height: 70px;
     width: 240px;
     font-size: 30px;
     margin-bottom: 30px;
} 
.lastdiv{
     display: flex;
     flex-direction: column;
     background-color: black;
}   
.FAQ{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 0px;
     height: 200px;
     font-size: 14px;
     padding-bottom: 0%;
    
}
.d1{
     margin-right: 130px;
    
}
.bu{
     display: block;
     margin-top: 10px;
     
     
     color: rgb(187, 174, 174);
     background-color: black;
     text-decoration: none;
     
}
.calldetails{
     color:rgb(192, 186, 186);
     margin-left: 275px;
     margin-bottom: 10;
     margin-top: 100px;
     font-size: 15px;
     
}
.language2{
     background-color: black;
     color: white;
     height: 40px;
     width: 120px;
     margin-left: 265px;
     margin-top:0;
     margin-bottom: 20px;
}
.secondvideo{
     position:absolute;
     height: 230px;
     width: 315px;
     left: 900px;
     top:1950px;
     
}